
<div class="container mt-5">
  <div class="row ml-3">
    <div class="col-md-5 col-lg-5 col-sm-5">
      <div class="col-md-12 col-lg-12 col-sm-12" id="div-titulo-usuario">
        <label><strong>DAODS DO USUÁRIO</strong></label>
      </div>
      <hr>
      <div class="col-md-12 col-lg-12 col-sm-12 ml-2">
        <label><strong>User do Usuário</strong></label>
        <p>{{perfilUsuario.login}}</p>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 ml-3">
        <label><strong>Nome do titular</strong></label>
        <p>{{perfilUsuario.name}}</p>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 ml-3">
        <label><strong>Localidader</strong></label>
        <p>{{perfilUsuario.location}}</p>
      </div>
    </div>
    <div class="col-md-5 col-lg-5 col-sm-5">
      <div class="col-md-12 col-lg-12 col-sm-12" id="div-titulo-usuario">
        <label><strong>DAODS DO REPOSITÓRIO</strong></label>
      </div>
      <hr>
      <div class="col-md-12 col-lg-12 col-sm-12 ml-3">
        <label><strong>URL do Repositórios</strong></label>
        <p>{{perfilUsuario.url}}</p>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 ml-3">
        <label><strong>Total de Repositórios</strong></label>
        <p>{{perfilUsuario.public_repos}}</p>
      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 ml-3">
        <label><strong>Total de Seguidores</strong></label>
        <p>{{perfilUsuario.following}}</p>
      </div>
    </div>
  </div>
</div>
